.content {
    margin: 20px 40px;
}

.img {
    width: 700px;
    height: 400px;
    margin: 0 100px;
}

.content h2, .content p,.img {
    margin-bottom: 20px;
}

.content p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:125%;
}